body {
    background-color: #d0e0e0;
}
.page-header {
    background-color: #183050;
    text-align: center;
    color: white;
    padding-bottom: 4%;
    padding-top: 2%;
    margin-bottom: 5%;
}

hr {
    border-width: 1px;
    border-color: white;
}

#gifContainer {
    min-height: 350px;
    background-color: white;
    margin-top: 0;
}

.queryBtn {
    background-color: #60a0c8;
}

#subBtn {
    background-color: #68a888;
}

#btnCon {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

#logo {
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.gifContainerHeader {
    background-color: #2068a8;
    border-radius: 15px 15px 0 0;
    text-align: center;
    color: white;
    padding: 2%;
    margin-top: 3%;
}

.gifContainerHeader h4 {
    margin: 0;
}